<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ParallelSuite" parallel="methods" thread-count="5">
    <test name="ChromeTests">
        <parameter name="browser" value="chrome"/>
        <parameter name="headless" value="false"/> <!-- local default -->
        <classes>
            <class name="Tests.OrangeHrm.LoginTest"/>
            <class name="Tests.OrangeHrm.SearchTest"/>
            <class name="Tests.OrangeHrm.CreateUserTest"/>


        </classes>
    </test>
</suite>
